<div class = "container-fluid">

  <div class = "row">

    <div class = "half-page col-xs-12 col-sm-6">
      <%= render "articles/articles" %>
    </div>

    <div class = "half-page col-xs-12 col-sm-6">
      <%= render "events/events" %>
    </div>

  </div><!-- row -->
</div><!-- container -->
