<div class = "event-list">

  <% if @user != nil %>
  <%= link_to "Create a New Event", new_event_path, class:"pea-logo btn btn-default" %>

  <% end %>

  <ul>


    EVENTS



  <% @events.each do |event| %>

  <li><strong><%=  event.title %></strong>&nbsp <%= event.event_datetime.strftime("%b %e, %Y %I:%M %P") %>  </span> </li>
</li>
  <% end %>

</ul>

</div>
