
  <div id="calendar-frame">


  <table id="table-style" data-row-style="rowStyle">
    <div class="month" > <strong>December</strong>

    </div>
    <tr>
      <th>SUN</th>
      <th>MON</th>
      <th>TUE</th>
      <th>WED</th>
      <th>THU</th>
      <th>FRI</th>
      <th>SAT</th>
    </tr>
    <tr class = "entry-row">
      <td class="entry">
        <div id="120714">
          <div class = "day">
            7
          </div>
          Lots and lots going on this particular day.
        </div>
      </td>

      <td class="entry">

      </td>

      <td class="entry">

      </td>

      <td class="entry">

      </td>

      <td class="entry">

      </td>

      <td class="entry">

      </td>

      <td class="entry">

      </td>
    </tr>


  </table>

</div>
