body {
  background: #AE9C36;
  color: #1B2B12;
}

.twitter-bird {
  background-color: lightblue;
  border-radius: 100%;

}

.site-name {
  display: block;
  font-family: 'Cherry Cream Soda', cursive;
  font-size: 48pt;
  color: #AE9C36;
  background: #577101;
  text-align: center;

}

.header {
  display: block;
  height: auto;
  // height: 180px;
  height: auto;
  width: 100%;
  margin: auto;
  background: #577101;
  // border: 3px solid #AE9C36;

  a {
    color: #AE9C36;
  }
}

.event {
  display: block;
  border: solid #c2a73b;
  padding: 10px;
  text-align: center;


  h3 {
    text-decoration: underline;
  }

  li {
    list-style-type: none;
  }
}

.event-options {
    display: block;
    margin: 10px;
    width: 100%;
    .side-by-side {
      li {
        display: inline-block;
        list-style-type: none;

      }
    }




  a {
    color: #354100;
    font-size: 1.3em;
  }
  a:hover {
    color: #aecd00;
  }

}



#submit-sign-in {
  display: inline-block;
  width: auto;
  float: left;
}



.header-image {
  display: block;
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 20px;

}

.white {
  color: white;
}


.pea-color {
  color: #577101;
}

.pea-logo {
  display: inline-block;
  border: solid #AE9C36;
  background: #667650;
  border-radius: 100%;
  color: #cbb973;
}



.red-pea-logo {
  display: inline-block;
  border: solid #AE9C36;
  background: #b9473f;
  border-radius: 100%;
  color: #cbb973;
}

.site-content {
  width: 80%;
  margin: auto;
}

#sign-in {
  display: block;

}

#user-box {
  display: block;
}

.notifications {
  display: block;
  position: center;
  text-align: center;
  color: red;
  background: white;
}

.form-control {
  background-color: rgb(231, 219, 174);
}

@media (max-width: 768px) {
  .header {
    width: 100%;

  }

  .site-content {
    width: 100%;
  }

  .site-name {
    display: block;
    height: auto;


  }

  #sign-in {
  }

  #user-box {
    width: 100%;
  }



}
