// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-box {
  background: #19297C;
  color: #A1867F;
}

.calendar-image {
  float: right;
  // max-width: 300px;
  // max-height: 300px;
}
