// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-box {
  color: #AE9C36;
}

.calendar-image {
  float: right;
}

.half-page {
  display: block;
  height: 100%;

}
